[submodule "map-icons"]
	path = map-icons
	url = https://github.com/openstreetmap/map-icons
[submodule "staticmaplite"]
	path = staticmaplite
	url = https://github.com/dfacts/staticmaplite.git
[submodule "maki"]
	path = maki
	url = https://github.com/mapbox/maki.git
